<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicacion con Django</title>
</head>
<body>
    <h1>Titulo</h1>
    <p>
        Este es el contenido renderizado de la plantilla
    </p>

    <iframe src="https://giphy.com/embed/RnPRNP5ICPl6M" width="480" height="202" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/leonardo-dicaprio-django-unchained-calvin-candie-RnPRNP5ICPl6M">via GIPHY</a></p>
</body>
</html>